@font-face {
     font-family: 'IBMplexLight';
     src:url('../font/IBMPlexSans-Light.ttf') format('truetype');
     text-rendering: optimizeLegibility;
 }

@font-face {
     font-family: 'IBMplexLightItalic';
     src:url('../font/FiraSans-LightItalic.otf') format('truetype');
     text-rendering: optimizeLegibility;
 }

@font-face {
     font-family: 'IBMplexMedium';
     src:url('../font/IBMPlexSans-Medium.ttf') format('truetype');
     text-rendering: optimizeLegibility;
 }

@font-face {
     font-family: 'IBMplexMonoLight';
     src:url('../font/IBMPlexMono-Light.ttf') format('truetype');
     text-rendering: optimizeLegibility;
 }

@font-face {
     font-family: 'firaLight';
     src:url('../font/FiraSans-Light.ttf') format('truetype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'firaLightItalic';
     src:url('../font/FiraSans-LightItalic.otf') format('opentype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'firaBold';
     src:url('../font/FiraSans-Bold.otf') format('opentype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'proto';
     src:url('../font/Proto.ttf') format('truetype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'kuread';
     src:url('../font/KuRead.otf') format('opentype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'gothStripe';
     src:url('../font/GothStripe-Regular.otf') format('opentype');
     text-rendering: optimizeLegibility;
 }

 @font-face {
     font-family: 'sophie';
     src:url('../font/Sophie.otf') format('opentype');
     /* text-rendering: optimizeLegibility; */
 }

@font-face {
     font-family: 'satin';
     src:url('../font/SATIN-Regular.otf') format('opentype');
    /* text-rendering: optimizeLegibility; */
 }

@font-face {
     font-family: 'labpix';
     src:url('../font/Labpix.otf') format('opentype');
    /* text-rendering: optimizeLegibility; */
 }

@font-face {
     font-family: 'Ondules';
     src:url('../font/Ondules.otf') format('opentype');
    /* text-rendering: optimizeLegibility; */
 }


body {
  font-family: "IBMplexMonoLight";
  height: 100%;
  overflow-x: hidden;
    background-color:whitesmoke;
}

.text-long {
    border-bottom: 0.07rem black solid;
    margin-right: 80px;
    padding-bottom: 20px;
}

.nav {
  font-family: "IBMplexLight";
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  background-color: whitesmoke;
  position: fixed;
  /* fixe la position du menu */
  width: 100%;
  /* utilise 100% de la largeur de la fenêtre */
  column-count: 3;
  top: 48px;
  left: 0px;
  column-gap: 80px;
  padding-bottom: 10px;
  padding-top: 12px;
  padding-left: 5px;
  border-bottom: 0.07rem black solid;
    z-index:1000;
}

.nav a {
  color: black;
  text-decoration: none;
  margin-left: 17px;
}

.sectionSpec {
  margin-top: 135px;
 background-color: whitesmoke;
  /* Add a top margin to avoid content overlay */
}


#cache0 {
    display: none;
    font-family: "IBMplexLight";
    margin-left: 15px;
    margin-top: 3px;
    font-size: 11px;
    line-height: 17px;
}

#cache1 {
    display: none;
    margin-left: 15px;
    margin-top: 3px;
    font-size: 11px;
    line-height: 17px;
}

#cache2 {
    display: none;
    margin-left: 15px;
    margin-top: 3px;
    font-size: 11px;
    line-height: 17px;
}

#cache4 {
    display: none;
    font-family: "IBMplexLight";
    font-size: 14px;
   margin-right: 270px;
    margin-top: 3px;
    line-height: 17px;
}

#cache5 {
    display: none;
    font-family: "IBMplexLight";
    font-size: 14px;
   margin-right: 270px;
    margin-top: 3px;
    line-height: 17px;
}

#cache6 {
    display: none;
    font-family: "IBMplexLight";
    font-size: 14px;
   margin-right: 270px;
    margin-top: 3px;
    line-height: 17px;
}

#cache7 {
    display: none;
    font-family: "IBMplexLight";
    font-size: 14px;
   margin-right: 270px;
    margin-top: 3px;
    line-height: 17px;
}

.item {
    width: 285px;
    margin-bottom: 14px;

}

.item img {max-width:100%;height: auto; display: block;}

.masonry{
    position: static;
    margin-top: 139px;
}

.legende {
    color: grey;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-right: 20px;
    font-family: 'IBMplexMonoLight';
    font-size: 11px;
    text-align: left;
}

.two {
    font-size:13px;
    margin-top: 130px;
    margin-left:16px;
    margin-right:20px;
    font-family: "IBMplexLight";
}

.three {
    font-size:13px;
    margin-top: 130px;
    font-family: "IBMplexLight";
}

.one {
  font-family: "IBMplexLight";
  color: black;
  font-size: 14px;
  line-height: 1.45em;
  text-align: left;
  margin-top: 40px;
    margin-right: 15px;
}

.next2 {
    font-size: 14px;
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 140px;
    font-family: "IBMplexMonoLight";
}

#toggle5, #toggle6, #toggle7, #toggle8, #toggle9 {
    font-family: "IBMplexLight";
    font-size: 14px;
    line-height: 17px;
    margin-left: 15px;
    margin-right: 270px;
}



@media only screen and (max-width: 600px) {

    .nav {
        display:block;
        column-count: 1;
    }

    .masonry {
        margin-top: 229px;
    }

    .sectionSpec {
        margin-top: 225px;

    }

    .two {
        margin-top: 227px;
    }

    .three {
        margin-top: 217px;
    }


    .section2{
        display: none;
    }

    .one {
        margin-top: 140px;
    }

    #cache4, #cache5, #cache6, #cache7
    {
        margin-right: 1px;
    }

    .next2 {
        margin-top :220px;
    }

    #toggle4, #toggle5, #toggle6, #toggle7, #toggle8, #toggle9 {
        margin-right: 1px;
    }
}


@media only screen and (min-width: 601px) {
    #toggle4, #toggle5, #toggle6, #toggle7, #toggle8, #toggle9 {
        width: 640px;
    }

}










.spec {
    font-family: "IBMplexLight";
    font-size: 13px;
    color: dimgrey;
    margin-left: 18px;
    margin-bottom: 12px;
    margin-top: 10px;
}

.spec2 {
    font-family: "IBMplexLight";
    font-size: 13px;
    color: dimgrey;
    margin-left: 18px;
    margin-bottom: 12px;
    margin-top: 20px;
    padding-top: 5px;
    margin-right: 20px;
    border-top: 0.07rem black solid;
}

.nav2 {
  font-family: "IBMplexLight";
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 5px;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 10px;
  border-bottom: 0.07rem black solid;
    z-index: 1000;
}

.nav2 a {
  color: black;
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
}

.section {
  margin-top: 100px;
  /* Add a top margin to avoid content overlay */
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-rows: auto;
  grid-gap: 3%;
}

.sectionA {
  margin-top: 175px;
  /* Add a top margin to avoid content overlay */
  display: grid;
  /*grid-template-columns: 8fr 4fr;*/
  grid-template-columns: 300px 90px;
  grid-template-rows: auto;
  grid-gap: 3%;
}

.sectionB {
  /* Add a top margin to avoid content overlay */
  display: grid;
  /*grid-template-columns: 8fr 4fr;*/
  grid-template-columns: 300px 90px;
  grid-template-rows: auto;
  grid-gap: 3%;
}

.sectionC {
  /* Add a top margin to avoid content overlay */
  display: grid;
  /*grid-template-columns: 8fr 4fr;*/
  grid-template-columns: 300px 90px;
  grid-template-rows: auto;
  grid-gap: 3%;
}

.explication {
    color:dimgray;
    border-bottom: 0.07rem black solid;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.item1 {
    margin-left: 15px;
}

.main {
  margin-left: 15px;
}

.list {
    border-bottom: 0.07rem black solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: "IBMplexMonoLight";
}

.img-croix {
    image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

}

.list2 {

    margin-left: 20px;
    margin-right: 20px;
    font-family: "IBMplexMonoLight";
    font-size: 14px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 0.07rem black solid;
}

a.lien2 {
    float: right;
    color: blue;
}

.section2 {
    margin-top: 115px;
}

.specimen {
  font-family: "IBMplexMonoLight";
  font-size: 11px;
  color: black;
  border-bottom: 0.07rem black solid;
  margin-left: 20px;
  text-align: left;
  margin-right: 20px;
    padding-bottom: 25px;
  /*padding-right: 150px;*/
}

.section1, section2, section3 {
    border-bottom: 0.07rem blue solid;
    padding-bottom: 25px;
}


.titre {
  font-family: "firaLight";
  border-top: 0.07rem black solid;
  font-size: 15px;
  padding-top: 8px;
  color: black;
}

h1 {
  font-family: "IBMplexLight";
  letter-spacing: 0.015em;
  color: blue;
  margin-bottom: 0px;

}

h2 {
  font-family: "IBMplexMonoLight";
  letter-spacing: 0.015em;
  color: blue;
    font-size: 15px;
  margin-bottom: 0px;
}

h3 {
  font-family: "IBMplexMonoLight";
  color: black;
  margin-bottom: 0px;
    font-size: 11px;
}

.sousTitre {
  font-family: "firaLightItalic";
  font-size: 1.5em;
  color: blue;
  margin-left: 15px;
  margin-top: 0px;
}

.credits {
  font-family: "firaLightItalic";
  color: darkgrey;
  font-size: 13px;
  line-height: 16px;
}

.img
{
    width: 100%;

}

.img2
{
    width: 50%;
    margin-top:200px;
}

.img3
{
    height: 40vw;
    margin-bottom: 10px;
}




a {
  /*font-family: "firaLight";*/
  line-height: 1.3em;
  color: black;
}

a:focus {
  /*font-family: "firaLight"; */
  color: blue;
}

::selection {
  background: blue;
  color: white;
}

.downloadzone {
    margin-top: 200px;
}

.lien {
  margin-right: 220px;
  color: blue;

}


.test{
    margin-top: 10px;
    margin-bottom: 20px;
}

.test2{
    margin-right: 200px;
    margin-left: 20px;
}


input {
  text-decoration: none;
  border-style: none;
  border:none;
  box-shadow: none;
}

input:focus {
    outline:none !important;
}

#name0 {
    width:100%;
    margin-bottom: 15px;
    background-color:whitesmoke;
}

#name1 {
    width:100%;
    margin-top: 20px;
    background-color:whitesmoke;

}

#name9 {
   width:100%;
margin-top: 25px;
margin-bottom: 25px;
    height: 85px;
    background-color:whitesmoke;
}

#name2 {
   width:100%;
   margin-bottom: 25px;
   background-color:whitesmoke;
}

#name3 {
   width:100%;
   margin-top: 35px;
   margin-bottom: 20px;
   background-color:whitesmoke;
}

#name4 {
   width:100%;
   margin-top: 30px;
   margin-bottom: 20px;
   background-color:whitesmoke;
}

#name5 {
   width:100%;
   margin-top: 20px;
   margin-bottom: 0px;
   background-color:whitesmoke;
}


#protoText {
  font-family: 'proto';
  font-size: 1.0em;
  color: black;
  line-height: 32px;
}

#KuRead {
  font-family: 'kuread';
  font-size: 85px;
  color: black;
}

#GothStripe {
  font-family: 'gothStripe';
  font-size: 1.5em;
  color: black;
}

#sophie {
  font-family: 'sophie';
  font-size: 1.5em;
  color: black;
}

#satin {
font-family: 'satin';
  font-size: 1.5em;
  color: black;
}




.next {
    font-size: 14px;
    margin-left: 16px;
    margin-top: 10px;
    margin-right: 20px;
    font-family: "IBMplexMonoLight";
}



#toggle, #toggle2, #toggle3 {
    font-size: 11px;
    line-height: 17px;
    margin-left: 15px;
    margin-top:5px;
}


.textcourant{}

.citation {
  font-family: 'IBMplexLightItalic';
  letter-spacing: 0.05em;
  line-height: 1.25em;
  font-size: 22px;;
  color: blue;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
}


.legende2 {
    color: grey;
    margin-bottom: 30px;
    margin-left: 40px;
    font-family: 'IBMplexMonoLight';
    font-size: 9px;
    line-height: 13px;
}

.legende3 {
    color: grey;

    margin-left: 40px;
    font-family: 'IBMplexMonoLight';
    font-size: 9px;
    line-height: 13px;
}


.italic {
 font-family: 'IBMplexLightItalic';
    margin-left: 20px;
}



/**
 * Font imports
 */
